body,
html {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(red, black, black, black, black);
  overflow: hidden;
  height: 100vh;
  align-content: center;
}

.App {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  height: 100vh;
  color: white;
  padding: 0px;
}

.Header {
  font-family: "Casino";
  color: black;
  font-weight: 900;
  font-size: 50px;
  margin: 0px;
  text-shadow: 2px 2px grey;
}

.Container {
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
@font-face {
  font-family: "Casino";
  font-style: normal;
  font-weight: 400;
  src: url("./styles/Rye-Regular.ttf") format("truetype");
}
